.oportunidades {

  width:100%;

  margin-top:20px;

}





.titulo-oportunidades {

  text-align:left;

  margin-bottom:30px;

}





.titulo-oportunidades h2 {

  margin:0;

  font-size:32px;

  font-weight:800;

  color:#ffffff;

}





.lista-oportunidades {

  display:grid;

  grid-template-columns:repeat(3,minmax(230px,1fr));

  gap:20px;

}





.sem-oportunidades {

  grid-column:1 / -1;

  background:#1f2937;

  border-radius:18px;

  padding:25px;

  text-align:center;

  border:1px solid #334155;

  box-shadow:

    0 5px 15px rgba(0,0,0,.25);

}





.sem-oportunidades h3 {

  color:#ffffff;

  margin-bottom:10px;

}





.sem-oportunidades p {

  color:#94a3b8;

}





@media(max-width:1200px){


  .lista-oportunidades {

    grid-template-columns:repeat(2,1fr);

  }


}





@media(max-width:700px){


  .lista-oportunidades {

    grid-template-columns:1fr;

  }


}